* {
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
}

a, button, h1, h2, h3, label, p, input, textarea {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 500;

    text-decoration: none;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 36px 0;
}

.header-left-container {
    display: flex;
    align-items: center;

    position: relative;
    gap: 44px;
}

.header-logo {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.64px;

    transition: 0.1s ease-in;
}

.header-logo:hover {
    color: #828282;
}

.drop-menu-container {
    position: relative;
    display: inline-block;
}

.header-btn {
    color: #EEE;
    font-weight: 700;
    padding: 10px 12px;
    border: none;
    border-radius: 4px;
    background-color: #0F8277;
    cursor: pointer;

    transition: 0.1s ease-in;
}

.header-btn:hover {
    background-color: #0f554d;
}

.header-btn::after {
    content: url(../icons/list-arrow-icon.svg);
    margin-left: 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFF;
    width: 384px;
    height: 558px;
    padding: 16px 12px 33px 12px;
    box-shadow: 0px 0px 4px 2px #00000025;
    z-index: 1;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.dropdown-link {
    display: block;

    transition: 0.1s ease-in;
}

.dropdown-link:hover {
    color: #828282;
}

.dropdown-line {
    height: 1px;
    background-color: #000;
    border: none;
    margin: 40px 0 40px 0;
}

.dropdown-heading {
    font-weight: 700;
    margin-bottom: 24px;
}

.dropdown-margin {
    margin: 40px 0 24px 0;
}

.drop-menu-container:hover .dropdown-content {
    display: block;
}

.header-search {
    width: 330px;
    height: 36px;
    padding: 0 36px 0 12px;
    border: 1px solid #5C5C5C;
    border-radius: 4px;
    outline: none;

    transition: 0.1s ease-in;
}

.header-search:focus {
    box-shadow: 0 3px 12px #00000021;
}

.header-search::placeholder {
    color: #5C5C5C;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.search-btn {
    position: absolute;
    top: center;
    right: 0;

    background-image: url(../icons/search-icon.svg);
    background-color: #0F8277;
    background-position: center;
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;

    border: 1px solid #5C5C5C;
    border-radius: 0 4px 4px 0;

    cursor: pointer;

    transition: 0.1s ease-in;
}

.search-btn:hover {
    background-color: #0f554d;
}

.header-right-container {
    display: flex;
    align-items: center;
}

.link:hover {
    transition: 0.1s ease-in;
    color: #828282;
}

.link-margin {
    margin-right: 48px;
}

.header-log-in {
    color: #0F8277;
    text-align: center;
    font-weight: 700;
    margin-right: 28px;
    margin-left: 116px;

    transition: 0.1s ease-in;
}

.header-log-in:hover {
    color: #0f554d;
    text-decoration: underline;
}

.header-sign-up {
    color: #EEE;
    text-align: center;
    font-weight: 700;
    background-color: #0F8277;
    padding: 10px 12px;

    transition: 0.1s ease-in;
}

.header-sign-up:hover {
    background-color: #0f554d;
}

/* Learn comfortably */
.main {
    width: 100%;
    margin-top: 31px;
}

.learning-section {
    position: relative;
    height: 602px;
    margin: 0 36px 0 36px;
    border-radius: 12px;
    background-color: #DBF3ED;
    background-image: url(../images/hero-img.png);
    background-repeat: no-repeat;
    background-position-y: 39px;
    background-position-x: 717px;
}

.learning-container {
    position: absolute;
    top: 170px;
    left: 110px;
    width: 512px;
}

.learning-heading {
    font-size: 56px;
    font-weight: 700;
}

.learning-text {
    width: 482px;
    font-size: 22px;
    font-weight: 600;
    line-height: 120%;
    margin-top: 32px;
}

.start-link {
    display: inline-block;
    color: #EEE;
    font-weight: 700;

    background-color: #0F8277;
    height: auto;
    padding: 10px 12px;
    border: 2px solid #0F8277;
    border-radius: 4px;
    margin-top: 32px;

    transition: 0.1s ease-in;
}

.start-link:hover {
    background-color: #0f554d;
    border-color: #0f554d;
}

.more-link {
    display: inline-block;
    color: #0F8277;
    font-weight: 700;

    background-color: #DBF3ED;
    height: auto;
    padding: 10px 12px;
    border: 2px solid #0F8277;
    border-radius: 4px;
    margin-left: 20px;

    transition: 0.1s ease-in;
}

.more-link:hover {
    color: #0f554d;
    border-color: #0f554d;
}

/* Academic training */
.section {
    margin: 80px 36px 0 36px;
}

.section-title {
    color: #0F8277;
    font-size: 20px;
    font-weight: 700;
}

.section-heading {
    font-size: 40px;
    font-weight: 700;
    margin-top: 12px;
}

.section-text {
    font-size: 20px;
    margin-top: 12px;
}

.academic-items-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 60px;
    margin-top: 40px;
}

.item-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
    border: 1px solid #DADADA;
    border-radius: 8px;
}

.item-image {
    width: auto;
    height: 270px;
    border-radius: 8px 8px 0 0;
}

.item-content {
    margin: 24px 16px;
}

.dan-it-icon::before {
    content: url(../icons/dan-it-icon.svg);
    margin-right: 12px;
    vertical-align: middle;
}

.item-heading {
    font-size: 24px;
    font-weight: 700;
    margin: 16px 0 77px 0;
}

.item-link {
    position: absolute;
    left: 16px;
    bottom: 24px;
    color: #0F8277;

    transition: 0.1s ease-in;
}

.item-link:hover {
    color: #0f554d;
    text-decoration: underline;
}

.academic-cap-icon::before {
    content: url(../icons/academic-cap-icon.svg);
    margin-right: 12px;
    vertical-align: middle;
}

.european-icon::before {
    content: url(../icons/european-icon.svg);
    margin-right: 12px;
    vertical-align: middle;
}

.institute-icon::before {
    content: url(../icons/institute-icon.svg);
    margin-right: 12px;
    vertical-align: middle;
}

/* Courses and specializations */

.courses-items-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 50px;
    margin-top: 40px;
}

.section-link {
    display: flex;
    justify-content: center;
    color: #0F8277;
    font-size: 20px;
    font-weight: 700;
    margin-top: 40px;
}

.section-link:hover {
    transition: 0.1s ease;
    text-decoration: underline;
}

.section-link::after {
    content: url(../icons/link-arrow-icon.svg);
    margin-left: 16px;
}

/* Featured topics by category */
.topics-items-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 80px;
    margin-top: 40px;
}

.topics-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: auto;
}

.topics-heading {
    font-size: 24px;
    font-weight: 700;
}

.topics-link {
    color: #0F8277;
    font-size: 20px;
    font-weight: 700;

    transition: 0.1s ease;
}

.topics-link:hover {
    color: #0f554d;
}

.topics-content {
    margin-top: 10px;
}

/* Universities and companies */
.section-with-background {
    background-color: #DBF3ED;
    margin-top: 80px;
    padding: 80px 36px;
}

.heading-container {
    display: flex;
    justify-content: center;
}

.heading-position {
    text-align: center;
    width: 871px;
}

.image-container {
    display: flex;
    align-items: center;
    margin-top: 60px;
    gap: 3.5%;
}

.comp-logo:hover {
    transition: 0.1s ease-in-out;
    transform: scale(1.1);
}

/* Business */
.business-container {
    display: flex;
    align-items: center;
    gap: 72px;
}

.business-content-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 636px;
}

.business-content {
    font-size: 22px;
    font-weight: 600;
    width: 568px;
}

.business-btn {
    color: #EEE;
    font-weight: 700;
    width: 131px;
    height: 39px;
    background-color: #0F8277;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    transition: 0.1s ease-in;
}

.business-btn:hover {
    background-color: #0f554d;
}

.business-logo-container {
    display: grid;
    grid-template-columns: 196px 196px 196px;
    grid-template-rows: 136px 136px 136px;
}

.business-link-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.border-1 {
    border-right: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
}

.border-2 {
    border-bottom: 1px solid #BABABA;
}

.border-3 {
    border-left: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
}

.border-4 {
    border-right: 1px solid #BABABA;
}

.border-5 {
    border-left: 1px solid #BABABA;
}

/* Choose a plan that matches your career goals */
.text-center {
    text-align: center;
}

.choose-items-container {
    display: flex;
    gap: 24px;
    margin-top: 40px;
}

.choose-item {
    width: 416px;
    height: 698px;
    padding: 56px;
    background-color: #FDFDFD;
    border: 1px solid #0F8277;
    border-radius: 24px;
}

.choose-heading {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.choose-content {
    text-align: center;
    margin-top: 27px;
}

.price-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 27px;
}

.choose-price {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.choose-time {
    text-transform: uppercase;
    margin-left: 16px;
}

.choose-link-container {
    display: flex;
    justify-content: center;
}

.choose-link {
    color: #F6FDFF;
    font-family: 'Cabin', sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.72px;

    margin-top: 75px;
    padding: 10px 12px;

    background-color: #0F8277;
    border: 2px solid #0F8277;
    border-radius: 4px;

    transition: 0.1s ease-in;
}

.choose-link:hover {
    background-color: #0f554d;
    border-color: #0f554d;
}

.choose-line {
    height: 2px;
    background-color: #0F8277;
    border: none;
    margin: 48px 0 48px 0;
}

.choose-text-container {
    display: flex;
    align-items: start;
}

.tick-icon::before {
    content: '';

    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 16px;

    background-color: #0F8277;
    background-image: url(../icons/white-tick-icon.svg);
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 50%;

    border-radius: 50%;
}

.margin-text {
    margin-top: 16px;
}

.item-wrapper {
    background-color: #0F8277;
}

.color-wrapper {
    color: #FFF;
}

.link-wrapper {
    margin-top: 35px;
    border: 2px solid #FFF;
}

.link-wrapper:hover {
    background-color: #0F8277;
    color: #ffffffa8;
    border-color: #ffffffa8;
}

.line-wrapper {
    background-color: #FFF;
}

.tick-icon-2::before {
    content: '';

    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 16px;

    background-color: #FFF;
    background-image: url(../icons/green-tick-icon.svg);
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 50%;

    border-radius: 50%;
}

.choose-text {
    color: #FFF;
}

.link-wrapper-2 {
    margin-top: 53px;
}

/* Photos of our students */
.photos-container {
    display: grid;
    grid-template-columns: 306px 306px 306px 306px;
    grid-template-rows: 210.5px 210.5px 210.5px;
    grid-gap: 24px;
    margin-top: 40px;
}

.image-1 {
    width: 636px;
    height: 445px;
}

.grid-item-first {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}

.image-2 {
    width: 306px;
    height: 210.5px;
}

/* Contact Us */
.form-section {
    position: relative;
    width: 100%;
    height: 727px;
    margin-top: 76.5px;
    background-image: url(../images/form-image.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.form-section::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 1;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    width: 565px;
    height: 614px;
    padding: 30px;
    background-color: #DBF3ED;
    border-radius: 24px;
}

.form-content {
    text-align: center;
    font-size: 20px;
}

.label {
    font-size: 22px;
    font-weight: 600;
}

.input {
    display: block;
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    outline: none;

    border: 1px solid #0F8277;
    border-radius: 4px;
    background-color: #FDFDFD;

    transition: 0.1s ease-in;
}

.input:focus {
    box-shadow: 0 3px 12px #00000021;
}

.input::placeholder {
    color: #8E8E8E;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.form-btn {
    width: 196px;
    padding: 10px 12px;

    color: #F6FDFF;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.72px;

    background-color: #0F8277;
    border: none;
    border-radius: 4px;

    cursor: pointer;

    transition: 0.1s ease-in;
}

.form-btn:hover {
    background-color: #0f554d;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    padding: 64px 36px;
}

.left-footer-container {
    width: 306px;
}

.footer-heading {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.64px;
}

.footer-text {
    margin-top: 16px;
}

.right-footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 306px;
    height: 96px;
}

.footer-link-container {
    display: flex;
    justify-content: end;
    gap: 24px;
}

.footer-link {
    display: inline-block;
    width: 32px;
    height: 32px;

    border-radius: 50%;
}

.instagram-icon {
    background-image: url(../icons/instagram-icon.svg);

    transition: 0.1s ease-in;
}

.instagram-icon:hover {
    box-shadow: 0 0 4px #ce2dcb;
}

.facebook-icon {
    background-image: url(../icons/facebook-icon.svg);

    transition: 0.1s ease-in;
}

.facebook-icon:hover {
    box-shadow: 0 0 4px #3559E0;
}

.linkedin-icon {
    background-image: url(../icons/linkedin-icon.svg);

    transition: 0.1s ease-in;
}

.linkedin-icon:hover {
    box-shadow: 0 0 4px #3887BE;
}

.wrapper {
    display: inline-flex;
    justify-content: end;
}

.wrapper::before {
    content: '\00A9';
    margin-right: 4px;
}